<a href="https://colab.research.google.com/github/Fajardo47/CPEN-21A-ECE-2-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [38]:
week= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement- with this break statement, we can stop the loop before it has looped all the items

In [39]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [40]:
for x in week:
  if x== "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through String

In [41]:
for x in "Programming Logic and Design":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

L
o
g
i
c

a
n
d

D
e
s
i
g
n

The range() function

In [42]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [43]:
for x in range(2,6):
  print(x)

2
3
4
5

In [44]:
adjective=["red","big","tasty"]
fruits =["apple", 'banana', "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While loop

In [15]:
i=1
while i<=6:
  print(i)
  i+=1  #The same as i=i+1,#Assignment Operator for addition

1
2
3
4
5
6

The break statement

In [16]:
i=1
while i<=6:
  print(i)
  if i==3:
    break
  else:
    i+=1

1
2
3

The continue statement

In [18]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [32]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than 6

Application 1

In [23]:
for x in range(11):
  print("Value", x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [24]:
value=["Value"]
number= ["0","1","2","3","4","5","6","7","8","9","10"]
for x in value:
  for y in number:
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [27]:
i =0
while i<=10:
  print("Value", i)
  i+=1 #Assignment operator

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [31]:
m=4
k=20
for x in range(m,k):
  print(x)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [37]:
i=4
while i<20:
  print(i)
  i+=1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19